# Email Settings (SMTP)
# For gmail, generate an "App Password" via Account Settings > Security > 2-Step Verification
EMAIL_SENDER=""
EMAIL_RECEIVER=""
EMAIL_PASSWORD=""

# WhatsApp Settings (Reserved for Future Plugin Extensions)
WHATSAPP_API_KEY=""
